{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a El Cabal!</h1>
    <p>Nuestra página web está diseñada para facilitar la traducción del hebreo al español, permitiendo a los usuarios comprender textos en hebreo de manera rápida y precisa. Además de la traducción, ofrecemos una herramienta especializada que calcula el valor numérico de las palabras y frases en hebreo según la Cábala, utilizando la guematría..</p>
    <h3>Nuestro Objetivo</h3>
    <p>El propósito de esta plataforma es proporcionar una herramienta accesible y fácil de usar para quienes desean traducir textos del hebreo al español y explorar su significado oculto a través de la guematría. Esta herramienta es ideal para estudiosos de la Cábala, investigadores de textos sagrados y cualquier persona interesada en descubrir la dimensión numérica y mística del hebreo.</p>
</body>
</html>
{%endblock %}